.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px; 
    padding: 20px 40px;
    color: #f9f9f9dd;
    background-color: #37373d;
    box-shadow: 3px 5px 8px #00000088;
    margin: 10px;
}

.conteudo h3{
    font-size: 26px;
    color: #f9f9f9;
    font-weight: 700;
    margin: 20px 0;
}

.conteudo li{
    font-weight: 500;
    padding: 20px 5px;
}

/*Botão e estilo do escondido*/

.btn {
    width: 120px;
	color: #f9f9f9dd;
    font-weight: bolder;
    margin-bottom: 10px;
    transition: all .4s ease-in-out;
    background: none;
    border: 2px solid #f9f9f9dd;
    border-radius: 4px;
    padding: 10px;
    cursor:pointer;
    transition: all .2s;
}

.btn:hover{
    background: #f9f9f9;
    color: #37373d;
}

.hide{
    display: none;
}

/*--PAE--*/

.pae{
    border-bottom: 1px solid #00000033;
    padding-bottom: 40px;
}

.pae h3{
    text-align: center;
    color: #f9f9f9;
}

.pae .texto{
    margin-top: 25px;
    text-align: justify;
}

.clique{
    padding-top:20px;
    text-align: center;
    font-size: 18px;
}

.clique a{
    color: #f9f9f9;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s;
    text-decoration: underline;
}

@media screen and (max-width: 667px){
    .conteudo{
        height: 100%;
        box-shadow: none;
    }
}