/*Menu*/

header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #f9f9f9;
    align-items: center;
    list-style: none;
}

header li {
    font-weight: 700;
    padding: 10px;
    transition: all .4s ease-in-out;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    color:#f9f9f9;
    background-color: #396038dd;
    transition: all .4s ease-in-out;
    height: 100%;
}

header li:hover{
    background-color: #f9f9f9;
    border-right: 3px solid #396038dd;
    border-bottom: 3px solid #396038dd;
    color: #396038;
    cursor: pointer;
}

header .link{
    justify-content: flex-end;
    margin-right: 10px;
}


@media screen and (max-width: 667px){
	header ul{
        grid-template-columns: 1fr;
    }
    header li{
        border:none;
    }
}
