header h1{
    padding-top: 10px;
    font-size: 2.5em;
    text-align: center;
}

/*Menu*/

header ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: #f9f9f9;
    align-items: center;
    list-style: none;
}

header li {
    font-family: 'Oxygen';
    font-weight: 700;
    padding: 10px;
    transition: all .4s ease-in-out;
    border-right: 1px solid #00000033;
    border-bottom: 1px solid #00000033;
    color:#646cb3;
    transition: all .4s ease-in-out;
    height: 100%;
}

header li:hover{
    background-color: #646cb3;
    color: #f9f9f9f9;
    cursor: pointer;
}


@media screen and (max-width: 667px){
	header ul{
        grid-template-columns: 1fr;
    }
    header li{
        border:none;
    }
}
